<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link 
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" 
    />
<link rel="stylesheet" href="../static/css/style.css"/>

    <title>DataClassification</title>

</head>


<body>
   
    <div class=background-color>
        <div class="wrapper">
       
            <div class="jumbotron">
                <h1 data-ng-class="display-4">Data Classification</h1>
            </div>
            <div class="container-fluid">
                <a class="nav-link" href="model_1.html">Naive Bayes Classifier</a> ("LDA")</a>
                    <p>Naive Bayes Classifier is a probabilistic classifier, meaning it predicts on the basis of the probability of an object.  The name Naive is due to it assuming that the occurrence of 
                        a certain feature is independent of the occurrence of other features.  Bayes comes is due to it depending on the principle of Bayes'Theorem.  Bayes theorem also referred to as Bayes' Rule 
                        Bayes'law, is used to determine the probability of a hypothesis with prior knowledge.</p>
                    <p>Naive Bayes classifier converts the given dataset into frequency tables.  It then generates the likelihood table by finding the probabilities of given features. Finally, it
                        uses the Bayes theorem to calculate the posterior probability.</p>
                    <p>Advantages of the Naive Bayes classifier are that it is fast and easy to predict a class of datasets and it can be used for Binary as well as Multi-class Classifications making it the most
                        popular choice for text classification problems. A disadvantage of the Naive Bayes classifier is that it assumes that all features are independent or unrelated, so it cannot learn the relationship between features</p>
            </div>
        </div>
       
        <div class="container">
            
                <div class="form-group">
                    <label for="user-input">Input text for classification</label>
                    <textarea class="form-control" rows="5" id="user-input" name="text"></textarea>
                </div>
                <div class="form-group">
                    <label for=response">Classification</label>
                </div>
                <div class="row" id="alert-row">
                </div> 
                <div class="row">
                    <button id="submit-this" class="btn btn-primary mr-3">Predict</button>  
                    <button id="reset" class="btn btn-primary">Clear</button>
                </div>
        </div>
        
    </div>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="../static/js/app.js"></script>



</body>
</html>