<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link 
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" 
    />
<link rel="stylesheet" href="../static/css/style.css"/>

    <title>DataClassification</title>

</head>


<body>
   
    <div class=background-color>
        <div class="wrapper">
       
            <div class="jumbotron">
                <h1 data-ng-class="display-4">Models</h1>
            </div>
            <div class="container-fluid">
                <a class="nav-link" href="model_1.html">Naive Bayes Classifier</a> 
                    <p>Naive Bayes Classifier is a probabilistic classifier, meaning it predicts on the basis of the probability of an object.  The name Naive is due to it assuming that the occurrence of 
                        a certain feature is independent of the occurrence of other features.  Bayes comes is due to it depending on the principle of Bayes'Theorem.  Bayes theorem also referred to as Bayes' Rule 
                        Bayes'law, is used to determine the probability of a hypothesis with prior knowledge.</p>
                    <p>Naive Bayes classifier converts the given dataset into frequency tables.  It then generates the likelihood table by finding the probabilities of given features. Finally, it
                        uses the Bayes theorem to calculate the posterior probability.</p>
                    <p>Advantages of the Naive Bayes classifier are that it is fast and easy to predict a class of datasets and it can be used for Binary as well as Multi-class Classifications making it the most
                        popular choice for text classification problems. A disadvantage of the Naive Bayes classifier is that it assumes that all features are independent or unrelated, so it cannot learn the relationship between features</p>
            </div>
       
                <div class="model">
                    <a href=prediction_page class="btn btn-primary" role="link">Link to classify using Naive Bayes model</a>      
                </div>
                <br>
                <br>
        
            <div class="container-fluid">
                <a class="nav-link" href="model_2.html">Latent Dirichlet Allocation Classifier</a> 
                    <p>Latent Dirichlet Allocation ("LDA") is a generative statistical model that allows sets of observations to be explained by unobserved groups.  The first word being, latent, indicates
                        that the model discovers hidden topics from document.  The term Dirichlet indicates LDA's assumption that the distribution of topics in a document and the distribution of words in topicsare both 
                        Dirichlet distributions.  Finally allocation indicates the distribution of topics in the document. LDA makes the assumption that documents are composed of words that help determine the topics and maps
                        documents to a list of topics by assigning each word in the document to different topics.  The LDA model ignores the order of occurrence of words and the syntactic information, rather,
                        it treats documents just as a collection of words or a bag of words.</p>
                        
            </div>
            
                <div class="modeltwo">
                    <a href=predictions_two class="btn btn-primary" role="link">Link to classify using LDA model</a>      
                </div>


        </div>  
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    
    
    
    
    </body>
    </html>