<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link 
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" 
    />
<link rel="stylesheet" href="../static/css/style.css"/>

    <title>DataClassification</title>

</head>


<body>
   
    <div class=background-color>
        <div class="wrapper">
       
            <div class="jumbotron">
                <h1 data-ng-class="display-4">Naive Bayes Classifier</h1>
            </div>
            
        </div>
       
        <div class="container">
            
                <div class="form-group">
                    <label for="user-input">Input text for classification</label>
                    <textarea class="form-control" rows="5" id="user-input" name="text"></textarea>
                </div>
                <div class="form-group">
                    <label for=response">Classification</label>
                </div>
                <div class="row" id="alert-row">
                </div> 
                <div class="row">
                    <button id="submit-this" class="btn btn-primary mr-3">Predict</button>  
                    <button id="reset" class="btn btn-primary mr-3">Clear</button>
                    <a href=home_page class="btn btn-primary">Home</button>
                </div>

        </div>
        
    </div>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="../static/js/app.js"></script>



</body>
</html>